@tailwind base;
@tailwind components;
@tailwind utilities;

.site-heading-title {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin: 40px 0 60px;
}

.subscribe-heading-title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}


.one-sentence {
  p {
    line-height: 1.4;
  }
}

html[data-page="/index"] {
  body {
    background-color: #121215;
  }
  footer {
    background-color: #121215 !important;
    border-top: none !important;
  }
  .nextra-nav-container>div {
    background-color: transparent !important;
    visibility: hidden;
  }
  article {
    div.nx-block {
      visibility: hidden;
    }
  }
}